/*
- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 500, 600, 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primaryRed: hsl(0, 100%, 74%) ;
    --primaryGreen: hsl(154, 59%, 51%);
    --freeTrial: hsl(248, 32%, 49%);
    --darkBlue:  hsl(249, 10%, 26%) ;
    --grayishBlue: hsl(246, 25%, 77%);

}
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
    background-color:  var(--primaryRed);
    background-image: url('./images/bg-intro-desktop.png');
    font-family: 'Poppins', sans-serif;
   
}














.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }