/*
- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 500, 600, 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primaryRed: #ff7a7a;
    --primaryGreen: hsl(154, 59%, 51%);
    --freeTrial: hsl(248, 32%, 49%);
    --darkBlue:  hsl(249, 10%, 26%) ;
    --grayishBlue: hsl(246, 25%, 77%);

}
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    
     
}

body {
    background-color:  var(--primaryRed);
    background-image: url('./images/bg-intro-desktop.png');
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-self: center;

}

h1 {
    font-size: 3rem;
    line-height: 55px;
    margin: 30px 0px 30px;
}

.description-text {
   line-height: 25px;
}

.container {
    width: 1440px;
    height: 750px;
    display: flex; 
    justify-content: space-evenly;
    gap: 1.5rem;
    align-items: center;
}

#description-div { width: 500px; }

.aboutContainer {
    width: 35%;
    color: white;
    margin: 25px 0px 0px 45px;
    padding: 15px 10px;
   
}

.freeTrialContainer {
    margin: 25px 50px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
   
    width: 540px;
    height: 550px; 
}

#trialPlanDiv {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--freeTrial);
    color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 8px 0.5px rgba(62, 61, 61, 0.20);
}

#spanBoldText {
    font-weight: 600;

}

#formContainer {
    height: 84%;
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
}

#signUpForm {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 0px 8px 0.5px rgba(62, 61, 61, 0.20);
    height: 100%;  
    width: 100%; 
    padding: 35px 35px;
    border-radius: 10px;
    
}

input {
    height: 3.5rem;
    width:100%;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    padding-left: 30px;
    
}

input:focus {
    border: 1px solid var(--freeTrial);
    outline: none;
}

input::placeholder {
  
    margin-right: 1rem;
    /* background: url('./images/icon-error.svg' ) right / contain no-repeat; */
    
}

#claimButton {
    font-size: 1rem;
    padding: 20px;
    height: 3.5rem;
    border-radius: 5px;
    background-color: var(--primaryGreen);
    color: white;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    border: none;
    border-bottom: 4px solid hsl(154, 57%, 46%);
    cursor: pointer;
}

#claimButton:active {
    background-color: var(--primaryGreen);
    border: 2px solid hsl(154, 57%, 46%);
}


#termsAndCondDiv { padding: 10px; }
.termsAndCondText {
    font-size: 10px;
    font-weight: 500;
    color: var(--grayishBlue);
}
#t-and-c {
    color: var(--primaryRed);
    font-weight: 700;
}
/*  validation style */

#fNameInvalid, 
#lNameInvalid,
#emailInvalid,
#passwordInvalid {
 color: var(--primaryRed);
 font-size: 11px;
 text-align: right;
 padding: 0;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }